/* Applies to the game_container div on the index page. */
#game_container {
    min-width: 36vh;
    min-height: 100vh;
    height: 100%;
    margin: auto;
    position: relative;
}

/* Applies to the game_window div on the index page. */
#game_window {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#play_button {
    width: 60%;
    padding: 2vh 0;
    margin: 16vh auto 8vh;
    text-align: center;
    background: linear-gradient(rgb(148, 232, 136), rgb(108, 192, 96));
    /*background-color: rgb(148, 232, 136);*/
    color: black;
    font-size: 3em;
    outline: 10px rgb(120, 120, 120) outset;
}

#play_button:hover {
    /*background-color: white;*/
    background: linear-gradient(white, rgb(160, 160, 160));
}

#play_button p {
    text-align: center;
    font-weight: bold;
}

#about_rtz_overlay {
    width: 60%;
    margin: auto;
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 2vh;
    outline: 10px outset rgb(120, 120, 120);
}

#logo_mascot {
    display: block;
    width: 10vh;
    margin: 0 auto 2vh;
}

#about_rtz_overlay p {
    text-align: center;
}

#timer {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 1%;
    /*left: 50%;*/
    color: white;
    font-size: 1.5em;
    z-index: 10;
}

#score_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    z-index: 15;
}

#score_overlay p {
	text-align: center;
	padding-top: 2%;
	/*font-size: 2.5em;*/
    font-size: 6vh;
}

#score_overlay p.statement{
    width: 70%;
    margin: auto;
    padding-top: 12%;
    padding-bottom: 10%;
    /*font-size: 2.5em;*/
    font-size: 6vh;
}

.score_overlay_button {
    width: 20%;
    height: 10%;
    position: absolute;
    bottom: 15%;
    background: linear-gradient(rgb(148, 232, 136), rgb(108, 192, 96));
    /*background-color: rgb(148, 232, 136);*/
    outline: 10px rgb(120, 120, 120) outset;
    /*border-radius: 12px;*/
}

#sound_button {
    width: 10%;
    height: 6%;
    position: absolute;
    left: 45%;
    background: linear-gradient(rgb(148, 232, 136), rgb(108, 192, 96));
    outline: 5px rgb(120, 120, 120) outset;
}

#sound_button img {
    height: 6vh;
    width: 6vh;
    position: relative;
    display: block;
    margin: auto;
}

#sound_button:hover {
    background: linear-gradient(white, rgb(160, 160, 160));
}

.score_overlay_button:hover {
    /*background-color: white;*/
    background: linear-gradient(white, rgb(160, 160, 160));
}

.score_overlay_button img {
    height: 6vh;
    width: 6vh;
    position: relative;
    top: 2vh;
    display: block;
    margin: auto;
}

.score_overlay_button:first-of-type {
    left: 10%;
}

.score_overlay_button:nth-of-type(2) {
    left: 40%;
}

.score_overlay_button:nth-of-type(3) {
    right: 10%;
}

.answer {
    color: #00ff00;
}

/* Styles the level select window. */
#level_select {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 0 0 0;
    background-color: #FF6F6F;
    /*background: linear-gradient(rgb(148, 232, 136), rgb(108, 192, 96));*/
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

/* Styles a level select button. */
.level_select_button {
    width: 60%;
    height: 5vh;
    padding: 2vh 0;
    margin: 4vh auto;
    text-align: center;
    background-color: rgb(148, 232, 136);
    background: linear-gradient(170deg, rgb(108, 192, 96), rgb(148, 232, 136), rgb(108, 192, 96));
    color: black;
    font-size: 2em;
    border: 10px rgb(120, 120, 120) outset;
    border-radius: 12px;
}

.level_select_button:hover {
    background: linear-gradient(white, rgb(160, 160, 160));
}

.lock_icon {
    width: 6vh;
    position: relative;
    bottom: 0.5vh;
}

#food_image {
    position: absolute;
    z-index: 12;
}

.extra {
    position: absolute;
}

.contentactual p {
    width: initial;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#hint_answer {
    display: none;
    animation: fadein 2s;
}

#tap_image {
    animation: pulse 2s alternate infinite;
}

#login_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    z-index: 15;
}

#login_overlay p {
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 6vh;
}

#score_display {
    padding-top: 12%;
    padding-bottom: 2%;
}

#final_score {
    padding-top: 2%;
    padding-bottom: 12%;
}

#save_score_prompt {
    padding-top: 2%;
    padding-bottom: 2%;
}

.login_overlay_button {
    width: 60%;
    height: 10%;
    position: relative;
    top: 20%;
    background: linear-gradient(rgb(148, 232, 136), rgb(108, 192, 96));
    left: 20%;
    /* background-color: rgb(148, 232, 136); */
    outline: 10px rgb(120, 120, 120) outset;
    /* border-radius: 12px; */
    font-size: 1.7em;
    text-align: center;
    color: black;
}

#login_overlay .login_overlay_button p {
    padding-top: 2vh;
    font-size: 4.59vh;
    width: initial;
}

#login_register_now {
    position: relative;
    top: 10%;
}

.login_overlay_button:hover {
    /*background-color: white;*/
    background: linear-gradient(white, rgb(160, 160, 160));
}

/* Animations */
@keyframes pulse {
    0% {
        opacity: 0.8;
    }
    60% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes fadein {
    0% {
        opacity: 0.01;
    }
    100% {
        opacity: 1;
    }
}