/* Applies to the game_container div on the index page. */
#game_container {
    min-width: 36vh;
    min-height: 64vh;
    margin: auto;
    position: relative;
}

/* Styles the level select window. */
#level_select {
    width: 60%;
    height: 80%;
    margin: auto;
    padding: 2%;
    background-color: gray;
}

/* Styles a level select button. */
.level_select_button {
    width: 60%;
    height: 40%;
    margin: 4% auto;
    text-align: center;
    background-color: white;
}