/* Applies to the game_container div on the index page. */
#game_container {
    min-width: 36vh;
    min-height: 64vh;
    height: 100%;
    margin: auto;
    position: relative;
}

/* Applies to the game_window div on the index page. */
#game_window {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#timer {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    color: white;
    z-index: 10;
}

#score_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 2em;
}

.score_overlay_button {
    width: 25%;
    background-color: red;
    color: yellow;
}

/* Styles the level select window. */
#level_select {
    width: 60%;
    height: 80%;
    margin: auto;
    padding: 2%;
    background-color: gray;
    z-index:10;
}

/* Styles a level select button. */
.level_select_button {
    width: 60%;
    height: 40%;
    margin: 4% auto;
    text-align: center;
    background-color: white;
}

#food_image {
    position: absolute;
}
