/*Universal styles:*/
.contentactual {
    background-color: none;
}

#navburger {
    position: fixed;
    z-index: 499;
}

/*retrylevel appears*/
#retrylevel {
    display: none;
    position: absolute;
    top: 7%;
    right: 7%;
    width: 6vh;
    height: 6vh;
    transition: top 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: top 0.2s ease-in-out;
    z-index: 100;
}

/*navburger's height*/
#retrylevel img {
    height: 7vh;
}

#footer {
    overflow: hidden;
}

/*override default template2.css*/
/*when screen is 768px or smaller*/
@media only screen and (max-width: 768px) {
    .contentactual {
        max-width: 100%;
    }

    .navlogo a {
        display: none;
    }

    .navlinks, .navlogo, #footer {
        height: 0;
        overflow: hidden;
    }

    #navCont {
        min-height: 0;
    }

    #navburger {
        position: fixed;
        top: 5vh;
        left: 5vh;
        z-index: 499;
    }

    #navburger img {
        height: 100%;
    }

    /*retrylevel appears*/
    #retrylevel {
        position: fixed;
        top: 7.5vh;
        right: 5.5vh;
        z-index: 499;
    }
}