/*Universal styles:*/
.contentactual{
    background-color: none;
}

#gamedivwrapper {
    /*currently set as 16:9*/
    background-color: #CCCCCC;
    margin: auto;
    width:53.4375vh;
    height:95vh;
}

#gamediv {
    background-color: #666666;
    z-index: 0;
    position: relative;
}

#gamediv>div {
    width:100%;
    height:100%;
}

#navburger{
    position:fixed;
    top:30px;
    right:1em;
}

/*when screen is larger than 980px*/
@media only screen and (min-width: 981px) {
    #gamedivwrapper {
        background-color: #CCCCCC;
        margin: auto;
        width: 360px;
    }
}

/*override default template2.css*/
/*when screen is 980px or smaller*/
@media only screen and (max-width: 980px) {
    .contentactual {
        width:100%;
    }
    .navlinks{
        display:none;
    }
    .navlogo{
        display:none;
    }
    #navCont #navburger{
        position: fixed;
        top:1em;
        right:1em;
    }
    #navCont #navburger img{
        height: 100%;
    }
}