/* styles for login form */
#tabwrapper {
	width: 100%; 
	display: flex;
    flex-flow: row wrap;
	background-color: transparent;
}
#regtab {
	border-left: 1px solid black;
}
.inactivetab {
	border-bottom: 1px solid black;
	background-color: #DDDDFF;
}
.activetab {
	background-color: transparent;
}
.titletab {
	/*width: 49.3%;*/
	display: inline-block;
	display: flex;
	/*border-top: 1px solid black;*/
	margin: 0;
	/*background-color: transparent;*/
    flex: 1 1 30%;
	justify-content: center;
}
#logincontent {
	padding: 5vh 0 5vh 0;
	width: 90%;
	margin: auto;
	text-align:center;
}
#loginform button{
	text-align: center;
	font-size: 1.5em;
}
#loginform td {
	text-align: left;
}
#loginform p {
text-align: left;
}
#logincontent label{
	font-size: 1.25em;
}
#logincontent table{
	width:100%;
	margin:auto;
	font-size: 1.25em;
}
#logincontent input {
	text-align: left;
	width:100%;
	font-size: 1.15em;
}
#loginUsername {
	margin-bottom: 7px;
}
#loginUsernameErrorField, #loginPassErrorField {
	margin: 0;
	padding: 0;
}
/* page-specific anchor colors */
.content a, .content a:visited{
	color:orange;
}

/* styles for registration form */
.registration input{
	width:100%;
	font-size: 1em;
}
.registration td{
	vertical-align:bottom;
	text-align:left;
}
.registration th{
	width:25%;
	text-align: center;
	vertical-align: middle;
}
.registration table{
	margin: 5vh 0 5vh 0; /*margin for table*/
	width:100%;
	font-size: 1.5em;
}
.registration label {
	font-size: 1.04em;
}
#regcontent{
	margin: auto;
	width: 90%;
	text-align:left;
	font-size:1em;
	display: none;
}

.required::after{
	content: "*";
	color: red;
}
/*displays red in all errofields*/
#usernameErrorField, #emailErrorField, #passwordErrorField, #UserOrEmailErrorField, #passErrorField{
	color: red;
	min-height: 1em;
}
.flex1{
	display: inline-block;
	width:24%;
	text-align: center;
	margin: 0.5em 0 0.5em;
	font-size: 1.5em;
}
.flex2{
	display: inline-block;
	width:49%;
	text-align: center;
	vertical-align: middle;
}
.flex2 p{
	position: relative;
	bottom:1em;
}
.registration>div>div.flex1 input, .registration>div>div.flex2 input {
	width:initial;
}
#registration > div:nth-child(4) {
	width:80%;
	margin:auto;
}
input {
	margin-top: 5px;
	font-size: 1em;
	font-family: MavenPL200;
}
#registration > input[type="submit"]{
	width:40%;
	font-size: 1.75em;
	font-family: MavenPL300;
	display:block;
	margin:auto;
	font-weight: bold;
}
#loginform > input[type="submit"]{
	text-align: center;
	width:40%;
	font-size: 1.75em;
	font-family: MavenPL300;
	display:block;
	margin:auto;
	font-weight: bold;
}
@media only screen and (min-width: 769px) {
	.contentactual {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
}