/*override default template2.css*/
.row{
	max-height:100vh;
	overflow:hidden;
}
.col{
	vertical-align: top;
	top:0;
	text-align: center;
	margin:auto;
}
.half-col{
	width:49%;
	min-height:50vh;
}
.half-col ul{
	position:relative;
	top:50%;
}
.contentactual h1 {
    text-align: center;
}
.contentactual img {
    height: 200px;
    width: 200px;
    margin:auto;
    display: block;
    vertical-align: middle;
}
.contentactual ul {
	padding:0;
}
.button {
    
}