/*override default template2.css*/

.contentactual h1 {
    text-align: center;
}

.contentactual img {
    padding: 100px 50px 0px 50px;
    float: left;
    height: 200px;
}

.contentactual ul {
    padding: 150px 50px;
    float: center;
}
.button {
    padding: 60px 50px 50px 45px;
}