/*override default template5.css*/
.row{
	max-height:100vh;
	overflow:hidden;
}
.col{
	vertical-align: top;
	top:0;
	text-align: center;
	margin:auto;
}
.half-col{
	width:49%;
	min-height:50vh;
}
.half-col ul{
	position:relative;
	top:50%;
}
.contentactual h1 {
    text-align: center;
}
.contentactual img {
    height: 200px;
    width: 200px;
    margin:auto;
    display: block;
    vertical-align: middle;
}
.contentactual ul {
	padding:0;
}
body p#changepic {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
li {
    font-size: 150%;
}
li table {
    font-size: 100%;
}
/*The best times on profile*/
#bestTimesTable{
	display:block;
	margin:auto;
	width:40vw;
	text-align: center;
}
#bestTimesTable td, #bestTimesTable th{
	min-width:20vw;
	border: 1px solid;
}
#bestTimesTable >tbody> tr {
	background-color: #f2f2f2;
}
/*the title row*/
#bestTimesTable > tbody > tr:nth-child(1){
	font-weight:bold;
	font-size: 1.25em;
	background-color: rgb(137, 232, 148);
}