/*override default template2.css*/
/*when screen is smaller than 980px*/

/*whole wrapper for resource content*/
.contentwrapper{
    padding:1em 1em 1em 1em;
    display: inline-block;
}
/*wrapper for each of topic box*/
.contentboxwrapper{
    width:49%;
    background-color:black;
    min-height:25vh;
    display:inline-block;
    color:white;
    margin:0.24999999%;
}
/*wrapper for affiliated apps box*/
.bigcontentboxwrapper{
    width:99%;
    background-color:black;
    min-height:25vh;
    display:inline-block;
    color:white;
    margin:0.24999999%;
    text-align: center;
}
/*topic box*/
.contentbox{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0;
    height:25vh;
    width:100%
}
.contentbox h1{
    padding:0;
}
/*media query for the boxes when screen too thin*/
@media only screen and (max-width: 490px) {
    .contentboxwrapper, .bigcontentboxwrapper {
        width:100%;
        min-height:10vh;
    }
}

/*this is where we put actual content for each topic*/
.expandedcontentbox{
    /*because we want it to be displayed on top of topic buttons*/
    color:white;
    background-color: black;
    z-index:10;
    height:0;
    width:0;
    margin:0 0.24999999% 0 0.24999999%;;
    -webkit-transition: width 0.3s;
    overflow: hidden;
}
.expandedcontentbox h1, .expandedcontentbox h2{
    padding-left:30px;
    padding-top:30px;
    padding-bottom:30px;
}
.expandedcontentbox h2{
    font-size: 1.5em;
    font-weight: bold;
}
.expandedcontentbox p{
    font-size: 20px;

}
/*this is the affiliated apps content box*/
.bigexpandedcontentbox{
    /*because we want it to be displayed on top of topic buttons*/
    color:white;
    background-color: black;
    z-index:10;
    height:0;
    width:0;
    -webkit-transition: width 0.3s;
    overflow: hidden;
}
.bigexpandedcontentbox h1, .bigexpandedcontentbox h2{
    padding-left:30px;
    padding-top:30px;
    padding-bottom:30px;
}
.bigexpandedcontentbox h2{
    font-size: 1.5em;
    font-weight: bold;
}
.bigexpandedcontentbox p{
    font-size: 20px;

}
.expandedcontentbox img, p{
    padding-left: 50px;
    color: #FFFE88;
}