#navCont img{
	height: 100px;
	width:auto;
}
#navCont ul li{
	list-style-type: none;
	display: inline-block;
	font-family: Calibri;
	padding: 0.5em;
}
.navlogo{
	background-color: #3d2e1f;
}
.navlinks ul{
	margin:0;
	padding:0;
}
.navlinks{
	background-image: url('../img/navgradient.png');
}
.navlinks li:hover{
	text-decoration: underline;	
}
.navlinks a{
	text-decoration: none;
	color: #95d5f5; /*navlink color*/
}
.navbuttonright{
	float:right;
}
/*body shenanigans*/
body{
	background-color: grey;
	background-image: url('../img/backgroundmesh.png');
	margin:0;
	font-family: helvetica;
}

body p{
	margin:0.5em;
}
.contentactual{
	width:80%;
	min-height:600px;
	max-width: 800px;
	margin:auto;
	margin-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 450px) {
    .contentactual {
        width:100%;
    }
}
.footercontent{
	background-color: black;
	height:100px;
	/*display:table;*/
	width:100%;
	border: 1px solid blue;
}
.footercontent p{
	margin:0;
	color: white;
	text-align: center;
	font-size: 0.75em;
	display:table-cell;
	vertical-align: middle;
}