/*#dark transparent overlay for navburger */
#overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    height: 0;
    -webkit-transition: height 0.1s;
    z-index: 500;
}

/*whole navContent - includes .loginstatus, #navburger*/
#navCont {
    min-height: 10vh;
    background-color: rgb(137, 232, 148);
    border-bottom: 1px black solid;
}

/*Logo image*/
#navCont > div.navlogo > a > img {
    height: 10vh;
    margin: auto;
    display: block;
}

/*.navlogo is container with the nav burger, loginstatus, and logo*/
.navlogo {
    /*	background-image: url('../img/bannerBG.gif');*/
}

#navburger {
    display: none;
}

.loginstatus {
    color: white;
    position: absolute;
    top: 4vh;
    right: 2vw;
    font-size: 1em;
    text-align: center;
}

/*navlinks is the navbar when screen is wide enough*/
.navlinks ul {
    margin: 0;
    padding: 0;
}

.navlinks ul li {
    list-style-type: none;
    display: inline-block;
    font-family: MavenPL200;
    padding: 0.5em;
    font-size: 1.25em;
}

.navlinks {
    background-image: url('../img/navgradient.png');
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: black;
}

.navlinks a {
    text-decoration: none;
    color: white; /*navlink color*/
}

.navlinks a:hover {
    border-bottom: 4px solid white;
}

.navbuttonright {
    float: right;
}

/*mobilenav is the nav menu that shows up when navburger is clicked in mobile*/
#mobilenav {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    /*height:100vh;*/
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    background-color: black;
    z-index: 501;
    overflow: hidden;
}

#mobilenav a {
    text-decoration: none;
    color: white;
    font-size: 5vw;
    font-family: MavenPL300;
}

#xButton {
    position: absolute;
    content: url('../img/xButton.png');
    height: 6vh;
    width: 6vh;
    left: 3vh;
    top: 3vh;
}

#xButton:hover {
    content: url('../img/xButtonInv.png');
}

#mobilenav ul {
    padding: 0 10vw 0 10vw;
}

.mobileicon {
    height: 7vh;
    margin-right: 2vh;
    position: relative;
    top: 5px;
}

#mobilenav ul li div {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
}

/*for the first mobilenav li elements*/
#mobilenav > ul > a:nth-child(2) > li > div:nth-child(1), #mobilenav > ul > a:nth-child(2) > li > div.mobilelistimg {
    text-align: right;
    width: auto;
    right: 0;
    white-space: nowrap;
}

/*#mobilenav ul li{
	min-height:15vh;
	width:100%;
	display: table;
	padding-right:1em;
}*/
#mobilenav ul li div {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
}

.mobilelist {
    min-height: 15vh;
    width: 100%;
    display: table;
    padding-right: 1em;
}

.mobilelistimg {
    overflow: hidden;
    max-height: 15vh;
    width: auto;
}

.mobilelistimg img {
    max-height: 14vh;
    max-width: 14vh;
    padding: 0;
    margin: 0;
}

/*body shenanigans*/
@font-face {
    font-family: MavenPL100;
    src: url('../fonts/MavenProLight-100.otf');
}

@font-face {
    font-family: MavenPL200;
    src: url('../fonts/MavenProLight-200.otf');
}

@font-face {
    font-family: MavenPL300;
    src: url('../fonts/MavenProLight-300.otf');
}

body {
    font-family: MavenPL300, Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 0;
    background-color: #FF6F6F;
}

html, body {
    height: 100%;
}

/*.contentactual deals with everything not constant throughout our pages*/
.contentactual {
    width: 80%;
    min-height: 85vh;
    max-width: 981px;
    /*height:auto;*/
    margin: auto;
    background-color: #FF6F6F;
}

.contentactual h1 {
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 0;
    font-size: 2em;
    font-weight: bold;
}

.contentactual p {
    margin: auto;
    text-align: justify;
    width: 80%;
}

/*for emphasis on certain topics*/
.titletab {
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(84, 183, 126);
}

/*mediaquery shenanigans*/
/*if screen smaller than 768px*/
@media only screen and (max-width: 768px) {
    .contentactual {
        width: 100%;
    }

    .navlinks {
        display: none;
    }

    /*navburger appears*/
    #navCont #navburger {
        display: block;
        position: absolute;
        top: 2.5vh;
        left: 2.5vh;
        /*transition: top 0.2s ease-in-out;
        -webkit-transition: top 0.2s ease-in-out;
        -moz-transition: top 0.2s ease-in-out;*/
        z-index: 100;
    }

    /*navburger's height*/
    #navCont #navburger img {
        height: 5vh;
    }

    /*text for displaying if logged in or not*/
    .loginstatus {
        color: white;
        position: static;
        font-size: 1em;
        text-align: center;
    }

    /*navlogo when screen is stupidly small*/
    #navCont > div.navlogo > a > img {
        /*display: absolute;*/
        top: 2.5vh;
        right: 2.5vh;
        height: 10vh;
    }
}

/*footer styling*/
.footercontent, .eefootercontent{
    background-color: white;
    height: 10vh;
    width: 100%;
    border-top: solid black 1px;
}

.footercontent p {
    margin: 0;
    color: black;
    text-align: center;
    font-size: 1em;
    line-height: 5vh;
}
/*easter egg styling*/
.easteregg {
    width: 15px;
    padding: 0;
    margin: 0;
}
.eefootercontent {
    width: 0;
    height: 0;
    border: 0;
}
.eefootercontent p {
    margin: 0 auto;
    color: black;
    font-size: 1em;
    /*line-height: 10vh;*/
}
marquee {
    height: 9.7vh;
    text-align: center;
    padding: 0;
    margin: 0;
    /*vertical-align: center;*/
}